<!-- <section class="welcome-section">
    <div class="overlay">
      <div class="container">
        <div class="content">
          <img [src]="getBannerImageUrl()" alt="Banner Image" class="banner-image" />
          <div class="banner-text">
            <h1>Welcome to My Website</h1>
            <p>Explore and discover amazing things!</p>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section class="welcome-section">
    <div class="image-container">
      <img [src]="getBannerImageUrl()" alt="Background Image" class="banner-image">
      <div class="overlay"></div>
      <div class="content">
        <h1>Welcome.</h1>
        <p>Explore an endless collection of movies and TV shows.</p>
      </div>
    </div>
  </section>