<app-header></app-header>

<main class="container">
    <div class="left-column">
        <img class="poster"
          [src]="getImageUrl()"
          alt="Couldn't load">
      </div>

    <div class="right-column">

        <div class="title">
            {{ details?.name }}
        </div>


        <div class="details">
            <div>{{ details?.birthday }}</div>

            <div class="dot"> &#8226; </div>
            <div>{{ details?.place_of_birth }}</div>
        </div>

        <div class="overview">
            <div class="header">Biography</div>
            <div class="text"> {{ details?.biography }}</div>
        </div>
    </div>
</main>

<body>
    <div class="cast">Known for</div>
    <div class="wrapper">
        <div class="card" *ngFor="let media of credits?.slice(0,20)">
            <ng-container *ngIf="media.media_type === 'movie'">
                <img class="card-img" src="https://image.tmdb.org/t/p/original/{{ media.poster_path }}"
                alt="Card image cap" [routerLink]="['/movie', media.id]">
            </ng-container>

            <ng-container *ngIf="media.media_type === 'tv'">
                <img class="card-img" src="https://image.tmdb.org/t/p/original/{{ media.poster_path }}"
                alt="Card image cap" [routerLink]="['/series', media.id]">
            </ng-container>
            
            <div class="card-body">
                <div class="name"> {{ media.title }}</div>
                <div class="character">{{ media.character }}</div>
            </div>
        </div>
    </div>
</body>

<app-footer></app-footer>