<app-header></app-header>

<div class="input-group">
    <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
        <div class="d-flex">
            <input type="text" class="form-control" formControlName="searchParam" placeholder="Search...">
            <button class="button-17" role="button">Search</button>
        </div>
    </form>
</div>

<div class="results">
    <ng-container *ngFor="let media of searchResult">
        <div class="result-container">
            <div class="cover">
                <img src="https://image.tmdb.org/t/p/original/{{ media.poster_path || media.profile_path }}" alt="Couldn't load"
                    [routerLink]="getRouterLink(media)">

            </div>
            <div class="detail">
                <div class="name">{{ media.title || media.name }}</div>
            </div>
        </div>
    </ng-container>
</div>

<app-footer></app-footer>