<app-header></app-header>

<div class="input-group">
    <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
        <div class="d-flex">
            <input type="text" class="form-control" formControlName="movieName" placeholder="Search...">
<!-- 
            <div class="form-outline">
            </div> -->
            <button class="button-17" role="button">Search</button>
        </div>
    </form>
</div>

<!-- <div class="mt-4">
    <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="mb-3 col-lg-10">
                <input type="text" class="form-control" formControlName="movieName" placeholder="Search...">
            </div>
            <div>
                <button class="btn btn-md">Search</button>
            </div>
        </div>
    </form>
</div> -->

<div class="results">
    <ng-container *ngFor="let movie of searchResult">
        <div class="result-container">
            <div class="cover">
                <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" alt="Couldn't load"
                    [routerLink]="['/movie', movie.id]">

            </div>
            <div class="detail">
                <div class="name">{{ movie.title || movie.name }}</div>
            </div>
        </div>


    </ng-container>
</div>

<!-- <div class="result-movies mt-3 p-2">
    <div class="movies-thumbnail">
        <div class="movie" *ngFor="let movie of searchResult">
            <div class="cover">
                <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" alt="Couldn't load"
                    [routerLink]="['/movie', movie.id]">
            </div>
            <div class="detail">
                <div class="name">{{ movie.title || movie.name }}</div>
            </div>
        </div>
    </div>
</div> -->