<app-header></app-header>
<app-welcome></app-welcome>

<div class="home-container">
  <div class="all-movies">

    <!-- trending start -->
    <div class="trending-movies">
      <h4>Trending</h4>
      <div class="movieposter mt-3">
        <div class="movie" *ngFor="let movie of trendingApiData">
          <div class="cover">
            <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" alt="Couldn't load"
              (click)="goToClicked(movie.id)">
          </div>
          <div class="detail">
            <div class="name">{{ movie.title || movie.name }}</div>
            <div class="rating"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- trending end -->

    <!-- popular start -->
    <div class="popular-movies">
      <h4>Popular</h4>
      <div class="movieposter mt-3">
        <div class="movie" *ngFor="let movie of popularApiData">
          <div class="cover">
            <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" alt="Couldn't load"
              (click)="goToClicked(movie.id)">
          </div>
          <div class="detail">
            <div class="name">{{ movie.title || movie.name }}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- popular end -->

    <!-- toprated start -->
    <div class="toprated-movies">
      <h4>Top Rated</h4>
      <div class="movieposter mt-3">
        <div class="movie" *ngFor="let movie of topRatedApiData">
          <div class="cover">
            <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" alt="Couldn't load"
              (click)="goToClicked(movie.id)">
          </div>
          <div class="detail">
            <div class="name">{{ movie.title || movie.name }}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- toprated end -->
  </div>
</div>

<app-footer></app-footer>