
.wrapper {
    display: flex;
    overflow-x: scroll;
    margin-left: 50px;

    .card {
        border-radius: 20px;
        margin-top: 10px;
        margin-left: 15px;
        min-width: 150px;
        max-width: 150px;
        box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;

        .card-img {
            border-radius: 20px 20px 0px 0px;
        }

        .card-body {
            width: 100%;
            margin: -10px 0px 0px -3px;

            .name {
                font-weight: bold;
            }
        }
    }
}
.container {
    padding: 15px 15px 15px 15px;
    margin-left: 50px;
    display:inline-flex;

    .left-column {
        position:relative;
        .poster {
            min-width: 200px;
            max-width: 400px;
            height: auto;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
        }
    }

    .right-column {
        margin-top: 20px;
        margin-left: 30px;

        .title {
            font-weight: 600;
            font-size: 52px;
            letter-spacing: -1px;
        }

        .details {
            display: flex;
            // margin-left: 20px;
            margin-top: 10px;

            .dot {
                margin: 0 10px;
                color: #6d6d6d;
            }
        }

        .genre {
            display: inline-block;
            // border-left: 1px solid #ccc;
            margin-bottom: 10px;
            margin-left: 0px;

            .genres {
                display: inline;
                margin-right: 0px;
                margin-left: 20px;

            }

        }

        .overview {
            .header {
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 5px;
            }

            .text {
                font-size: 16px;
                font-weight: 400;
            }
        }

        .provider{
            margin-top: 10px;
            .stream-on{
                font-size: 20px;;
            }
            .card-img{
                width:50px;
                border-radius: 10px;
            }
        }
    }


}
body{
    .cast{
        font-size: 30px;
        font-weight: bold;
        margin-left: 65px;
    }
}   